<input type="file" (change)="readFile($event)">

<button (click)="printPage()" class="btn btn-success" style="margin-top: 20px;">
  Print as PDF
</button>
<button (click)="togglePdfPreview()" class="btn btn-info" style="margin-top: 20px;">
  {{ showPdfPreview ? 'Hide PDF Preview' : 'Show PDF Preview' }}
</button>

<div *ngIf="showPdfPreview && pdfSrc" style="margin-top: 20px; text-align: center;">
  <h5>PDF Preview</h5>
  <iframe [src]="pdfSrc" width="50%" height="600px"></iframe>
</div>
<button (click)="togglePieChart()" class="btn btn-primary" style="margin-top: 20px;">
  {{ showPieChart ? 'Hide Pie Chart' : 'Show Pie Chart' }}
</button>
<button mat-button (click)="showRootCauses = !showRootCauses" style="margin-bottom: 10px;">
  {{ showRootCauses ? 'Hide Root Causes' : 'Show Root Causes' }}
</button>


<div id="printSection" *ngIf="clientData" style="margin-top: 20px; text-align: center;">
<div style="position: absolute; top: 20px; right: 20px; z-index: 1000;">
  <img src="assets/rayosoft.jpg" alt="Logo" style="height: 80px;">
</div>
<div style="position: absolute; top: 100px; right: 20px; z-index: 1000;">
  <img src="assets/logo2.jpg" alt="Logo" style="height: 80px;">
</div>

  <h5>Client Information</h5>
  <div *ngIf="rahIdNumber">
    <p> ID: {{ rahIdNumber }}</p>
  </div>

  <p><strong>Full Name:</strong> {{ clientData.fullName }}</p>
  <p><strong>Date of birth:</strong> {{ clientData.dateOfBirth }}</p>



  <div *ngIf="showPieChart" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <canvas baseChart #pieChartCanvas [data]="pieChartData" [type]="'pie'" [options]="pieChartOptions"
      style="max-width: 250px; max-height: 250px;">
    </canvas>
  </div>

  <div *ngIf="showPieChart && pieChartData.labels && pieChartData.labels.length" style="margin-top: 20px;">

    <ul style="list-style: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;">
      <li *ngFor="let label of pieChartData.labels; let i = index"
        style="display: flex; align-items: center; margin: 5px 10px;">
        <span [style.backgroundColor]="legendColors[i]"
          style="width: 20px; height: 20px; display: inline-block; margin-right: 10px; border-radius: 50%;"></span>
        {{ label }}
      </li>
    </ul>
  </div>

  <div *ngIf="showRootCauses" class="color-counts" style="margin-top: 40px; text-align: center;">
    <h5>Root Causes</h5>
    <ul style="list-style: none; padding: 0; display: flex; justify-content: center;">
      <li *ngFor="let color of objectKeys(colorCounts)" style="margin: 0 15px;">
        <span [style.backgroundColor]="color"
          style="width: 20px; height: 20px; display: inline-block; border-radius: 50%; margin-right: 10px;"></span>
        {{ color | titlecase }}: {{ colorCounts[color] }} ({{ calculatePercentage(colorCounts[color]) }}%)
      </li>
    </ul>
  </div>
  


  <div class="container mt-4 custom-container">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let causeGroup of getSortedCauses(); let i = index; trackBy: trackByCause">
          <mat-card class="cause-card">
            <mat-card-header (click)="toggleCauseDetails(i)" style="cursor: pointer;">
              <mat-card-title [style.color]="causeGroup.items[0]?.color">
                {{ causeGroup.cause }}
                <span style="float: right;">

                </span>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content *ngIf="expandedCauseGroup[i]">
              <ul>
                <li *ngFor="let item of causeGroup.items" [style.color]="item.color"
                  (click)="fetchExcelRecord(item.code, item.name)">
                  <strong>{{ item.code }}</strong> - {{ item.name }} - {{ item.percentage }}%
                </li>
              </ul>
            </mat-card-content>


          </mat-card>
        </div>
      </div>
    </div>
  </div>





  <div *ngIf="selectedExcelRecord" class="edit-description-container p-4 rounded-xl shadow-md bg-white">
    <h5 class="text-sm font-semibold text-gray-700 mb-2 border-b pb-1">Practitioner Comments</h5>
  

 
  

    <mat-form-field appearance="fill" class="description-field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="selectedExcelRecord.fullDescription"
      
        class="auto-expand-textarea"
        rows="10"
        style="background-color: white;">
      </textarea>
   
    </mat-form-field>
    <mat-form-field appearance="fill" class="description-field">
      <mat-label>Recommendations</mat-label>
      <textarea
        matInput
        class="auto-expand-textarea"
        rows="10"
        style="background-color: white;">
    I would recommend that the client takes the following supplements:
    
    • Rayo Pure – This helps with removing harmful substances and parasites  
    Recommended intake
    
    • Rayobase – This helps with controlling the acid levels (pH levels)  
    Recommended intake
    
    • Rayovita – This helps support the vitamins trace element  
    Recommended intake
    
    • Rayoflora – This helps by providing 13 different live good bacteria strands  
    Recommended intake
    
    • Rayosole – This helps promote detoxification in the body  
    Recommended intake
      </textarea>
    </mat-form-field>
    
    <!-- Signature Image -->
<!-- Signature Image aligned to the left with reduced size -->
<div style="margin-left: 0; text-align: left;">
  <img src="assets/sign.jpg" alt="Signature" style="height: 30px; width: auto;">
</div>




   
  </div>
</div>






